<div class="modal-header">
  <h3>Edit Customer {{item.first_name}} {{item.last_name}}</h1>
</div>
<div class="modal-body">
  <form name="editUserForm"><!-- validation seems to require form tag, also it's not required to handle data... -->
    <ul>
      <li>
        <label for="edit_customer_id">Customer ID</label>
        <span>{{item.customer_id}}</span>
        <input type="hidden" ng-model="item.customer_id" required>
      </li>
      <li>
        <label for="edit_first_name">First Name</label>
        <input type="text" id="edit_first_name" name="edit_first_name" ng-model="item.first_name" ng-min="3" required>
      </li>
      <li>
        <label for="edit_last_name">Last Name</label>
        <input type="text" id="edit_last_name" name="edit_last_name" ng-model="item.last_name" ng-min="3" required>
      </li>
      <li>
        <label for="edit_birthday">Birthday</label>
        <input type="text" id="edit_birthday" name="edit_birthday" placeholder="(yyyy-mm-dd)" ng-model="item.birthday" ng-pattern="/^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/" required>
      </li>
      <li>
        <label for="edit_gender">Gender</label>
        <select id="edit_gender" name="edit_gender" ng-model="item.gender" required>
          <option value="w">Female</option>
          <option value="m">Male</option>
        </select>
      </li>
      <li>
        <label for="edit_last_contact">Last Contact</label>
        <input type="text" id="edit_last_contact" name="edit_last_contact" placeholder="(yyyy-mm-dd)" ng-pattern="/^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/" ng-model="item.last_contact">
      </li>
      <li>
        <label for="edit_customer_lifetime_value">Customer Lifetime Value</label>
        <input type="text" id="edit_customer_lifetime_value" name="item.customer_lifetime_value" placeholder="" ng-model="item.customer_lifetime_value">
      </li>
    </ul>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-sm btn-left" ng-click="close()">Back to overview</button>
  <button ng-click="saveCustomer()" class="btn btn-primary" ng-disabled="!editUserForm.$valid">Save</button>
</div>