<div class="modal-header">
  <h3>Navigation Data of Customer {{item.first_name}} {{item.last_name}}</h1>
</div>
<div class="modal-body">
   <div>
    <table  class="table table-striped table-bordered">
      <tr>
        <th>Page</th>
        <th>Timestamp</th>
      </tr>
      <tr ng-repeat="navi in item.navigationData | orderBy:'-timestamp'">
        <td>{{navi.pages}}</td>
        <td>{{navi.timestamp}}</td>
      </tr>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-sm btn-left" ng-click="close()">Back to overview</button>
</div>